/* Variables */

$text-light: #ffffff;
$text-main: #435261;
$text-header: #000000;

$color-gold: gold;
$color-grey: #b4b4b4;

$font-title: 'Lato', sans-serif;
$font-main: 'Londrina Solid', cursive;

/* Global */
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    font-family: $font-main;
    color: $text-main;
}
section {
    padding: 96px 0;
}
    .container {
        max-width: 1140px;
        padding: 20px 20px;
        margin: 0 auto;
    }

/* Navigation */
.navigation {
    height: 100vh;
    padding: 20px 0;
    background-image: url('https://images.pexels.com/photos/2041627/pexels-photo-2041627.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
    .navigation-wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
        .brand-title {
            color: $color-gold;
            font-family: $font-title;
            font-style: oblique;
        }
        .navigation-menu ul li {
            display: inline-block;
                a {
                    text-decoration: none;
                    font-family: $font-main;
                    color: $text-light;
                    padding: 0 25px;
                    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F;
                }
        }
            .navigation-menu ul li a:hover {
                background: $text-light;
                color: $text-header;
            }

/* Splash */

.splash-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
    .splash-inner .page-title {
        font-family: $font-title;
        font-size: 35px;
        font-style: italic;
        color: $text-light;
    }
        .splash-inner .page-subtitle {
            font-family: $font-main;
            color: $text-light;
            font-style: cursive;
            font-size: 50px;
        }

    .btn {
        text-decoration: none;
        font-family: $font-main;
        color: $text-light;
        background: $color-gold;
        padding: 30px 35px;
        font-size: 28px;
        font-weight: bold;
        border: 2px $text-header solid;
        border-radius: 7px;
    }

/* Services */
.container h1,p {
    text-align: center;
}
    .container h1 {
        color: $text-header;
        font-weight: bold;
        font-size: 38px;
        font-family: $font-main;
    }
        .container p{
            font-style: italic;
            font-size: 24px;
            font-family: $font-title;
            color: $color-grey;
        }
.card-body h3 {
    text-align: center;
    color: $text-header;
    margin-bottom: 0;
}
    .card-body p {
        text-align: center;
        color: $color-grey;
        font-size: 20px;
        margin-top: 0;
    }
.card-image {
    text-align: center;
        i {
        display: flex;
        text-align: center;
        font-size: 40px;
        color: $color-gold;
        background: $text-light;
        width: 65px;
        height: 65px;
        border: $color-gold 2px solid;
        border-radius: 30%;
        justify-content: center;
        align-items: center;
    }
}
/* Portfolio */
.portfolio {
    background: #ffffff;
    .card-body {
        display: flex;
        background: $text-light;
        border: 1px;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
}
    .card img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-top: 22px;
    }
/* Footer */
.footer {
    background: $text-light;    
}
    .footer-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        .footer .footer-company {
            font-size: 22px;
            font-family: $font-main;
            font-weight: bold;
            color: $text-main;
        }
.footer .social-links ul li{
    display: inline-block;
    font-size: 0;
    a {
        text-decoration: none;       
    } 
        i {
            font-size: 36px;
            color: $text-main;
        }
}
/* Mobile */
@media (max-width: 767px) {
    .navigation-menu ul li a {
        padding: 0;
    }
    .wrapper {
        flex-direction: column;
    }
    .splash-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .splash-inner .page-title {
        font-size: 20px;
        margin: 0 auto;
    }
    .splash-inner .page-subtitle {
        font-size: 40px;
        margin: 0 auto;
    }
}